/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}


/**
 * Tables
 */

caption {
    font-size: $small-font-size;
}


/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-align: center;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: lighten($brand-color, 15%);
        text-decoration: underline;
    }
    &.no-link-style {
      color: inherit;
      &:visited {
        color:inherit;
      }
      &:hover {
        color:inherit;
        text-decoration: inherit;
      }
    }
}

.almost-link {
    color: $brand-color;
    text-decoration: none;
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    //border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: lighten($grey-color-light,5);
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    //overflow-x: scroll;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    > code {
        display: block;
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .lineno {
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* IE/Edge */
      user-select: none;           /* non-prefixed version, currently
                                      not supported by any browser */
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-mobile) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*
 * Errors
 */
.error {

  width: 100%;

  .title {
    font-size: 25vw;
    text-align: center;
  }

  .subtitle {
    font-size: 7vw;
    @media screen and (min-width: $on-mobile) {
      font-size: 40pt;
    }
    text-align: center;
  }

  .explanation {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }

}

/*
 * Alignment
 */
.centre-element {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
